venv/
env/

.idea
.vscode/

chromedriver
geckodriver

.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.so


*.egg-info/
.eggs/
dist/
build/

.pytest_cache/
.cache/

*.pyc
*.pyo
*.pyd

selenium.log

*.log
*.tmp
*.swp

.env
*.env
Pipfile.lock